body {
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
.web{
  text-decoration: underline;
}
.intro{
  width:30%;
  margin:auto;
}
h1 {
  font-size: 5.625rem;
    font-family: 'Montserrat', sans-serif;
  margin:50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  bottom-padding:10px;
  line-height: 2;
}
h3{
  color:#11999E;
}
.topcontainer {
  background-color: #E4F9F5;
  postion: relative;
  padding-top: 100px;
}
.profile-image{
  width:20%;
}
p{
  line-height: 2;
}
hr{
  margin:100px auto;
  width:5%;
  border-top:#EAF6F6 dotted 7px;
}
.middlecontainer {
margin:100px 0 100px 0;
}
.bottomcontainer {
background-color: #66BFBF;
margin-top:100px;
padding:50px 0 20px 0;
}
.bottom-cloud {

  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 200px;
}
.skill-row{
    text-align: left;
    width:50%;
    margin :100px auto 100px auto;

}
.skill-image{
  border-radius:50%;
  width:35%;
  float:left;
  margin-right:30px;
}
.chill-image{
  border-radius:50%;
  width:30%;
  float:right;
  margin-left:30px;
}
.contact-message{
  width:40%;
  margin:40px auto 60px;
}
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;

}
a: hover{
  color:#EAF6F6;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px auto;
}
.btn {
  background: #11cdc4;
  background-image: -webkit-linear-gradient(top, #11cdc4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdc4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdc4, #11999e);
  background-image: -o-linear-gradient(top, #11cdc4, #11999e);
  background-image: linear-gradient(to bottom, #11cdc4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
